<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>000-001-剥</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>000-001-&#21093;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-48eadf6c80554225b485996fddb6f978.png" alt="000-001-剥" usemap="#id-48eadf6c80554225b485996fddb6f978map"/>
			   <map name="id-48eadf6c80554225b485996fddb6f978map">
				  		<area shape="rect" coords="694,10,814,65" href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html"  target="element">
				  		<area shape="rect" coords="694,82,814,137" href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html"  target="element">
				  		<area shape="rect" coords="694,153,814,208" href="../elements/id-5095af932c1645a793a327f9256a8f2d.html"  target="element">
				  		<area shape="rect" coords="694,226,814,281" href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html"  target="element">
				  		<area shape="rect" coords="694,298,814,353" href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html"  target="element">
				  		<area shape="rect" coords="694,370,814,425" href="../elements/id-32da51ef8e634a84a1baa665be4be129.html"  target="element">
				  		<area shape="rect" coords="10,106,130,161" href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html"  target="element">
				  		<area shape="rect" coords="238,10,358,425" href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#21093;&#65292;&#21093;&#33853;&#20063;&#65292;&#20197;&#38452;&#21093;&#38451;&#65292;&#38452;&#38271;&#32780;&#38451;&#28040;&#20063;&#12290;</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
											    <td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element"> 001 - &#23665;&#33390; </a> </td>
											    <td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
											    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
											    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
											    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element"> 4-&#20845;&#22235; </a> </td>
											    <td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element"> 5-&#20845;&#20116; </a> </td>
											    <td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
											    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-aabe649c1cf84c2ba10270bfb2635bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aabe649c1cf84c2ba10270bfb2635bcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9027a77e399341c6b5e3e8fb87843a3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9027a77e399341c6b5e3e8fb87843a3a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element"> 5-&#20845;&#20116; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca60456c26414dc1a5fc0128cf846654.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca60456c26414dc1a5fc0128cf846654.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element"> 4-&#20845;&#22235; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d2710a493d94530995be795efc893e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d2710a493d94530995be795efc893e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7a56978c90c482eab698b5cb00c2308.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7a56978c90c482eab698b5cb00c2308.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6895278412fb4948b884cc92e08adf82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6895278412fb4948b884cc92e08adf82.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																		<td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d48301286f8c416b8811ecb3401074d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d48301286f8c416b8811ecb3401074d5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-70c09b16c7ef45ba9dbac48bd2c5c4b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70c09b16c7ef45ba9dbac48bd2c5c4b3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element"> 001 - &#23665;&#33390; </a> </td>
																		<td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>