<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>000-111-否</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>000-111-&#21542;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-75d0448108c94b5e92190274fd5cfdd3.png" alt="000-111-否" usemap="#id-75d0448108c94b5e92190274fd5cfdd3map"/>
			   <map name="id-75d0448108c94b5e92190274fd5cfdd3map">
				  		<area shape="rect" coords="634,226,754,281" href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html"  target="element">
				  		<area shape="rect" coords="634,298,754,353" href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html"  target="element">
				  		<area shape="rect" coords="634,370,754,425" href="../elements/id-32da51ef8e634a84a1baa665be4be129.html"  target="element">
				  		<area shape="rect" coords="634,10,754,65" href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html"  target="element">
				  		<area shape="rect" coords="634,82,754,137" href="../elements/id-c867fc829f1844f3aec810194f811861.html"  target="element">
				  		<area shape="rect" coords="634,154,754,209" href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html"  target="element">
				  		<area shape="rect" coords="10,115,130,170" href="../elements/id-b8a40776d871458b9100c975392d6a1a.html"  target="element">
				  		<area shape="rect" coords="10,190,130,245" href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html"  target="element">
				  		<area shape="rect" coords="178,10,298,425" href="../elements/id-682c9a584f494b618eac62e524536e30.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
											    <td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element"> 111 - &#22825;&#20094; </a> </td>
											    <td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element"> 4-&#20061;&#22235; </a> </td>
											    <td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element"> 5-&#20061;&#20116; </a> </td>
											    <td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
											    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
											    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
											    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
											    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0fbd7cea1c294746a43733943febc2d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fbd7cea1c294746a43733943febc2d4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-faf7d48c2d9b4c7b86b1faa43beaf954.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-faf7d48c2d9b4c7b86b1faa43beaf954.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element"> 5-&#20061;&#20116; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbbbee5a9d934e918f5e1240768da0a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbbbee5a9d934e918f5e1240768da0a6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element"> 4-&#20061;&#22235; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2ca664fb7744ee28dbbb0b1c8555ee2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2ca664fb7744ee28dbbb0b1c8555ee2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ac0b28a06647b6abdff03d78788efb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ac0b28a06647b6abdff03d78788efb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9aee54640ea4f779fed6556a03a2068.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9aee54640ea4f779fed6556a03a2068.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																		<td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0d62e05afb2491fbbc00ae071448ffc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0d62e05afb2491fbbc00ae071448ffc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8974353e922d4b439c9dc4feb4eca73c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8974353e922d4b439c9dc4feb4eca73c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element"> 111 - &#22825;&#20094; </a> </td>
																		<td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>