<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>六爻与三才</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20845;&#29243;&#19982;&#19977;&#25165;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5bb84bdf30a04450b6e29b8e60556d6f.png" alt="六爻与三才" usemap="#id-5bb84bdf30a04450b6e29b8e60556d6fmap"/>
			   <map name="id-5bb84bdf30a04450b6e29b8e60556d6fmap">
				  				<area shape="rect" coords="862,58,1223,113" href="../elements/id-908c12c8eea242c2bfa4dba5928e7795.html"  target="element">
				  				<area shape="rect" coords="862,274,1223,329" href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html"  target="element">
				  				<area shape="rect" coords="862,130,1223,185" href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html"  target="element">
				  				<area shape="rect" coords="862,202,1223,257" href="../elements/id-5095af932c1645a793a327f9256a8f2d.html"  target="element">
				  				<area shape="rect" coords="862,346,1223,401" href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html"  target="element">
				  				<area shape="rect" coords="862,418,1223,473" href="../elements/id-32da51ef8e634a84a1baa665be4be129.html"  target="element">

				  		<area shape="rect" coords="826,10,1259,515" href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html"  target="element">
				  				<area shape="rect" coords="46,70,407,125" href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html"  target="element">
				  				<area shape="rect" coords="46,140,407,195" href="../elements/id-c867fc829f1844f3aec810194f811861.html"  target="element">
				  				<area shape="rect" coords="46,214,407,269" href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html"  target="element">
				  				<area shape="rect" coords="46,286,407,341" href="../elements/id-8d144658cd494d36b986f09cfc2df4cf.html"  target="element">
				  				<area shape="rect" coords="46,358,407,413" href="../elements/id-1b4ecb39dfc4445aa83f9d3dd86e00ef.html"  target="element">
				  				<area shape="rect" coords="46,430,407,485" href="../elements/id-5b77362048704682a95c127a3494f08c.html"  target="element">

				  		<area shape="rect" coords="10,10,443,515" href="../elements/id-2a521937673f47fbb1df382a157b575a.html"  target="element">
				  				<area shape="rect" coords="580,262,700,317" href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html"  target="element">
				  				<area shape="rect" coords="580,130,700,185" href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html"  target="element">
				  				<area shape="rect" coords="580,394,700,449" href="../elements/id-55eb4752d6db47a4a43070271f298afe.html"  target="element">

				  		<area shape="rect" coords="526,70,755,479" href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html" target="element"> &#19977;&#25165; </a> </td>
											    <td> <a href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
													    <td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
													    <td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
													    <td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
											    <td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5b77362048704682a95c127a3494f08c.html" target="element"> 1-&#21021;&#20061; </a> </td>
													    <td> <a href="../elements/id-5b77362048704682a95c127a3494f08c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b4ecb39dfc4445aa83f9d3dd86e00ef.html" target="element"> 2-&#20061;&#20108; </a> </td>
													    <td> <a href="../elements/id-1b4ecb39dfc4445aa83f9d3dd86e00ef.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d144658cd494d36b986f09cfc2df4cf.html" target="element"> 3-&#20061;&#19977; </a> </td>
													    <td> <a href="../elements/id-8d144658cd494d36b986f09cfc2df4cf.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element"> 4-&#20061;&#22235; </a> </td>
													    <td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element"> 5-&#20061;&#20116; </a> </td>
													    <td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
													    <td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
											    <td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
													    <td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
													    <td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element"> 4-&#20845;&#22235; </a> </td>
													    <td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element"> 5-&#20845;&#20116; </a> </td>
													    <td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
													    <td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-908c12c8eea242c2bfa4dba5928e7795.html" target="element"> 6-&#19978;&#20845; </a> </td>
													    <td> <a href="../elements/id-908c12c8eea242c2bfa4dba5928e7795.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c54af51e64134f00b9a7d4224185d620.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c54af51e64134f00b9a7d4224185d620.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html" target="element"> &#19977;&#25165; </a> </td>
																		<td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b84915cfda0d4283b0c5720f9f033127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b84915cfda0d4283b0c5720f9f033127.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html" target="element"> &#19977;&#25165; </a> </td>
																		<td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93611cae163d47bb93fa806e5a558f48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93611cae163d47bb93fa806e5a558f48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b1445b762ec463ba21b6d19a5b7aed6.html" target="element"> &#19977;&#25165; </a> </td>
																		<td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-de89c1cd0816417a85de8a74c166fafd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-de89c1cd0816417a85de8a74c166fafd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
																				<td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-61edcfae2fed48bc8e76560385d10641.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61edcfae2fed48bc8e76560385d10641.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
																				<td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33da8c277d514aaab4d9acfa39ae1c5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33da8c277d514aaab4d9acfa39ae1c5d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
																				<td> <a href="../elements/id-1b4ecb39dfc4445aa83f9d3dd86e00ef.html" target="element"> 2-&#20061;&#20108; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1e6f089d379b4ed68ec93317253f5e85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e6f089d379b4ed68ec93317253f5e85.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55eb4752d6db47a4a43070271f298afe.html" target="element"> &#22320; </a> </td>
																				<td> <a href="../elements/id-5b77362048704682a95c127a3494f08c.html" target="element"> 1-&#21021;&#20061; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-08cf96d621a24a67af1929ef1a19c057.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08cf96d621a24a67af1929ef1a19c057.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
																				<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-02a38f97aebe4209b42cd5df4bb5ff96.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-02a38f97aebe4209b42cd5df4bb5ff96.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
																				<td> <a href="../elements/id-908c12c8eea242c2bfa4dba5928e7795.html" target="element"> 6-&#19978;&#20845; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-414ca0660eb948d2bf9b1cc78f2dde0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-414ca0660eb948d2bf9b1cc78f2dde0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
																				<td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element"> 5-&#20061;&#20116; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82d23281758a402d8bcb243d2ff2449d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82d23281758a402d8bcb243d2ff2449d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d9670a2e1d844afbe6decde2994a532.html" target="element"> &#22825; </a> </td>
																				<td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b892da79d5204d9fb6ac22da413857ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b892da79d5204d9fb6ac22da413857ea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
																				<td> <a href="../elements/id-8d144658cd494d36b986f09cfc2df4cf.html" target="element"> 3-&#20061;&#19977; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f4fe8db4930a48c5a48be75d6b8f814e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f4fe8db4930a48c5a48be75d6b8f814e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
																				<td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element"> 4-&#20061;&#22235; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-133451267b0f42b197a6cec71994e947.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-133451267b0f42b197a6cec71994e947.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
																				<td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element"> 4-&#20845;&#22235; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89e6b7217899447f9865f3aa230264f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89e6b7217899447f9865f3aa230264f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c7bfcc6e1e834d9fb4bbd1531c5cffa4.html" target="element"> &#20154; </a> </td>
																				<td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-82937c3c960241a987d3b29d2418c1ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82937c3c960241a987d3b29d2418c1ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-5b77362048704682a95c127a3494f08c.html" target="element"> 1-&#21021;&#20061; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-114c936d73c14e10bdd8ba716ecfa1e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-114c936d73c14e10bdd8ba716ecfa1e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-1b4ecb39dfc4445aa83f9d3dd86e00ef.html" target="element"> 2-&#20061;&#20108; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-481d07107d4640b39577f1775326a078.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-481d07107d4640b39577f1775326a078.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-8d144658cd494d36b986f09cfc2df4cf.html" target="element"> 3-&#20061;&#19977; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8239ee68847e43eea435a840fe093e02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8239ee68847e43eea435a840fe093e02.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-f32db88844bb4c9091a2491eb9094f25.html" target="element"> 4-&#20061;&#22235; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e981c415a874d68ac96806942cb2b7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e981c415a874d68ac96806942cb2b7e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-c867fc829f1844f3aec810194f811861.html" target="element"> 5-&#20061;&#20116; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4593710402bc490db8bec9b18fb64cf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4593710402bc490db8bec9b18fb64cf5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a521937673f47fbb1df382a157b575a.html" target="element"> &#38451;&#29243; </a> </td>
																		<td> <a href="../elements/id-1bae79993d1e4a30a11fabef3754200f.html" target="element"> 6-&#19978;&#20061; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-66d65e999b444ab3bac4727e5b08d6c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66d65e999b444ab3bac4727e5b08d6c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-32da51ef8e634a84a1baa665be4be129.html" target="element"> 1-&#21021;&#20845; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-098bd83d369449458e6c798b6141fdff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-098bd83d369449458e6c798b6141fdff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-a9725932afdc4e1dba3ba8156fdddcbb.html" target="element"> 2-&#20845;&#20108; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d1f967c84364ab3bc2067bd7b0c1c25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d1f967c84364ab3bc2067bd7b0c1c25.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-5095af932c1645a793a327f9256a8f2d.html" target="element"> 4-&#20845;&#22235; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69c791a4e57f43e0bd6152a46f3471f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69c791a4e57f43e0bd6152a46f3471f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-8e91274dbc1d4eef83f06de5c3ee389d.html" target="element"> 5-&#20845;&#20116; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a29d73bee694b4f9da901327ff94da9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a29d73bee694b4f9da901327ff94da9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-8f33e7b198464fa8a56fee2de2c25383.html" target="element"> 3-&#20845;&#19977; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac0eb576c3ce47539fa77589fff0a2c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac0eb576c3ce47539fa77589fff0a2c0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-99055bb1909d40b09cd21137e1cea45c.html" target="element"> &#38452;&#29243; </a> </td>
																		<td> <a href="../elements/id-908c12c8eea242c2bfa4dba5928e7795.html" target="element"> 6-&#19978;&#20845; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>