<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>六十四卦</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#20845;&#21313;&#22235;&#21350;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bc6f09c11c034c429ce65e95167fdbe0.png" alt="六十四卦" usemap="#id-bc6f09c11c034c429ce65e95167fdbe0map"/>
			   <map name="id-bc6f09c11c034c429ce65e95167fdbe0map">
				  		<area shape="rect" coords="1062,591,1200,646" href="../elements/id-ecdcfeb2e82f4484b8cff5cbb3fa40b2.html"  target="element">
				  		<area shape="rect" coords="912,591,1050,646" href="../elements/id-7d27b14a63e844538906a372861ecc76.html"  target="element">
				  		<area shape="rect" coords="759,591,897,646" href="../elements/id-2cd74ecd398c4a999e10c1098a454ad7.html"  target="element">
				  		<area shape="rect" coords="609,591,747,646" href="../elements/id-83cd68eb6c3748b98c980ed0c8251000.html"  target="element">
				  		<area shape="rect" coords="459,591,597,646" href="../elements/id-e7c3f14e08d54668beb87c9164c2073e.html"  target="element">
				  		<area shape="rect" coords="310,591,448,646" href="../elements/id-0f11ca4767464a429cd725cfb2601335.html"  target="element">
				  		<area shape="rect" coords="160,591,298,646" href="../elements/id-8f582b7da992476babef76ccd3cd3075.html"  target="element">
				  		<area shape="rect" coords="10,591,148,646" href="../elements/id-3effadd9f72143518cfc5302e14268c2.html"  target="element">
				  		<area shape="rect" coords="1064,507,1202,562" href="../elements/id-037102c2a80947ea9e4bf0b2e719ba78.html"  target="element">
				  		<area shape="rect" coords="914,507,1052,562" href="../elements/id-c5ac5e02ee4149519e598d54e3622313.html"  target="element">
				  		<area shape="rect" coords="759,507,897,562" href="../elements/id-14d29f040c1040b095844e587e515538.html"  target="element">
				  		<area shape="rect" coords="609,507,747,562" href="../elements/id-32d42d67299d4cbe94924bf1226bb223.html"  target="element">
				  		<area shape="rect" coords="459,507,597,562" href="../elements/id-0f84372b77814c268d95e373f4943669.html"  target="element">
				  		<area shape="rect" coords="312,507,450,562" href="../elements/id-35ce8afdd40f439d9012e31e4addfc5c.html"  target="element">
				  		<area shape="rect" coords="162,507,300,562" href="../elements/id-70e4054db7df45a2ac219afe5f6e2a17.html"  target="element">
				  		<area shape="rect" coords="12,507,150,562" href="../elements/id-e85e3954ce13428b80d9077983657124.html"  target="element">
				  		<area shape="rect" coords="1064,423,1202,478" href="../elements/id-561d56c5e9f5489082ad21698d44eda8.html"  target="element">
				  		<area shape="rect" coords="914,423,1052,478" href="../elements/id-ad6a5820a0bb4c50a362d091e251edca.html"  target="element">
				  		<area shape="rect" coords="759,423,897,478" href="../elements/id-6c49d75ffdc7407cbb7a73ed5d6b3fd3.html"  target="element">
				  		<area shape="rect" coords="609,423,747,478" href="../elements/id-f9593cd6222844a2a089d371c48c9b6d.html"  target="element">
				  		<area shape="rect" coords="459,423,597,478" href="../elements/id-13534901a889404b8b84c852fa36cc25.html"  target="element">
				  		<area shape="rect" coords="312,423,450,478" href="../elements/id-d16167b867054c62813712e2876c35ea.html"  target="element">
				  		<area shape="rect" coords="162,423,300,478" href="../elements/id-63dd72de846c497a9c98f915eb0faf15.html"  target="element">
				  		<area shape="rect" coords="12,423,150,478" href="../elements/id-d4719ee49411402f9d324a0f64e61637.html"  target="element">
				  		<area shape="rect" coords="1062,339,1200,394" href="../elements/id-253bccafe3b94440a0d2141ad0f71ef7.html"  target="element">
				  		<area shape="rect" coords="912,339,1050,394" href="../elements/id-1b473075735d4e01b7fb41c2e5090f27.html"  target="element">
				  		<area shape="rect" coords="759,339,897,394" href="../elements/id-3cf03397b486462f91b4a51aa92945ec.html"  target="element">
				  		<area shape="rect" coords="609,339,747,394" href="../elements/id-7d06397e70aa4955840dc970950a3638.html"  target="element">
				  		<area shape="rect" coords="459,339,597,394" href="../elements/id-bda826d56c334ab68f1ecdfbfe1a6770.html"  target="element">
				  		<area shape="rect" coords="311,339,449,394" href="../elements/id-b20778df1a92436eaf13e94e9c2f43f9.html"  target="element">
				  		<area shape="rect" coords="161,339,299,394" href="../elements/id-bccddb2bc07b47aa8524fa07ec550531.html"  target="element">
				  		<area shape="rect" coords="11,339,149,394" href="../elements/id-964d0d0476fd449ba0b5602c18fba733.html"  target="element">
				  		<area shape="rect" coords="1063,255,1201,310" href="../elements/id-18074554d77b4807b8eca6e396614fbb.html"  target="element">
				  		<area shape="rect" coords="913,255,1051,310" href="../elements/id-10f782ef4fe347d19a358a10e1f9e6ce.html"  target="element">
				  		<area shape="rect" coords="759,255,897,310" href="../elements/id-a23d5af66d1d4ffbb6fc8a5c7ec9f282.html"  target="element">
				  		<area shape="rect" coords="609,255,747,310" href="../elements/id-a227db11b54f441680f23cfb2950e118.html"  target="element">
				  		<area shape="rect" coords="459,255,597,310" href="../elements/id-9c263a6f6f524c228bab09f8b7b6369a.html"  target="element">
				  		<area shape="rect" coords="312,255,450,310" href="../elements/id-7907ed9013444b6d9049b0d4fa77a4ff.html"  target="element">
				  		<area shape="rect" coords="162,255,300,310" href="../elements/id-c08ee33ed6e44fa88589f5f9229737a0.html"  target="element">
				  		<area shape="rect" coords="12,255,150,310" href="../elements/id-f0654d9cec324fdd856ed988c0f37f57.html"  target="element">
				  		<area shape="rect" coords="1064,171,1202,226" href="../elements/id-32d8b34c2fb748f88412f3dc4d9a4b23.html"  target="element">
				  		<area shape="rect" coords="914,171,1052,226" href="../elements/id-941d73b5ae2b43908de4c99c38021303.html"  target="element">
				  		<area shape="rect" coords="759,171,897,226" href="../elements/id-5cc4c6db24ce4023bef2810ec63be7af.html"  target="element">
				  		<area shape="rect" coords="609,171,747,226" href="../elements/id-7d212747822945728a7459d3ea372b3b.html"  target="element">
				  		<area shape="rect" coords="459,171,597,226" href="../elements/id-26152cda105a4e11af1a272ad9a0c269.html"  target="element">
				  		<area shape="rect" coords="313,171,451,226" href="../elements/id-bfc858f79e9a4dab875917d50d2d58a7.html"  target="element">
				  		<area shape="rect" coords="163,171,301,226" href="../elements/id-a2363c46aeb3495ca9c0e09973355dbd.html"  target="element">
				  		<area shape="rect" coords="13,171,151,226" href="../elements/id-abbb9de672f04ceb86c908ee644722dd.html"  target="element">
				  		<area shape="rect" coords="1064,87,1202,142" href="../elements/id-b6f1aa5b5be94276945a9909b646f2ea.html"  target="element">
				  		<area shape="rect" coords="914,87,1052,142" href="../elements/id-3bfc74194a40458dad38caf614c08bf0.html"  target="element">
				  		<area shape="rect" coords="759,87,897,142" href="../elements/id-70f7558ae1954658a2801c36bbf77121.html"  target="element">
				  		<area shape="rect" coords="609,87,747,142" href="../elements/id-223cbdade3684f26a6d26f1dc8ce6e1a.html"  target="element">
				  		<area shape="rect" coords="459,87,597,142" href="../elements/id-5f9eba6e7b47439fa364e50e68482d22.html"  target="element">
				  		<area shape="rect" coords="313,87,451,142" href="../elements/id-c2ff01ca4db74ee48cc8a1128b2cfcf2.html"  target="element">
				  		<area shape="rect" coords="163,87,301,142" href="../elements/id-47dbd97f591941c2b29214d4bbee63ee.html"  target="element">
				  		<area shape="rect" coords="13,87,151,142" href="../elements/id-0e31b3dab90e48d19473fb578b3eb97c.html"  target="element">
				  		<area shape="rect" coords="1065,10,1203,65" href="../elements/id-682c9a584f494b618eac62e524536e30.html"  target="element">
				  		<area shape="rect" coords="915,10,1053,65" href="../elements/id-1baf10c7984b4a0c83731794f4929425.html"  target="element">
				  		<area shape="rect" coords="759,10,897,65" href="../elements/id-7f780d6e09aa4041b726e4299346a4a7.html"  target="element">
				  		<area shape="rect" coords="609,10,747,65" href="../elements/id-9acfd1468a5f4df6b09cf34812cd2826.html"  target="element">
				  		<area shape="rect" coords="459,10,597,65" href="../elements/id-1777e218e92d4689a7adde37ac80f735.html"  target="element">
				  		<area shape="rect" coords="313,10,451,65" href="../elements/id-c1608c4830d145959a8a88bc4d4ebfc6.html"  target="element">
				  		<area shape="rect" coords="163,10,301,65" href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html"  target="element">
				  		<area shape="rect" coords="13,10,151,65" href="../elements/id-7efd2483d2f94943a41f4f99b9f1c49c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7efd2483d2f94943a41f4f99b9f1c49c.html" target="element"> 000-000-&#22372; </a> </td>
											    <td> <a href="../elements/id-7efd2483d2f94943a41f4f99b9f1c49c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element"> 000-001-&#21093; </a> </td>
											    <td> <a href="../elements/id-215612c9d5b94874a65a7a35909eea4f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c1608c4830d145959a8a88bc4d4ebfc6.html" target="element"> 000-010-&#27604; </a> </td>
											    <td> <a href="../elements/id-c1608c4830d145959a8a88bc4d4ebfc6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1777e218e92d4689a7adde37ac80f735.html" target="element"> 000-011-&#35266; </a> </td>
											    <td> <a href="../elements/id-1777e218e92d4689a7adde37ac80f735.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9acfd1468a5f4df6b09cf34812cd2826.html" target="element"> 000-100-&#35947; </a> </td>
											    <td> <a href="../elements/id-9acfd1468a5f4df6b09cf34812cd2826.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f780d6e09aa4041b726e4299346a4a7.html" target="element"> 000-101-&#26187; </a> </td>
											    <td> <a href="../elements/id-7f780d6e09aa4041b726e4299346a4a7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1baf10c7984b4a0c83731794f4929425.html" target="element"> 000-110-&#33795; </a> </td>
											    <td> <a href="../elements/id-1baf10c7984b4a0c83731794f4929425.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element"> 000-111-&#21542; </a> </td>
											    <td> <a href="../elements/id-682c9a584f494b618eac62e524536e30.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e31b3dab90e48d19473fb578b3eb97c.html" target="element"> 001-000-&#35878; </a> </td>
											    <td> <a href="../elements/id-0e31b3dab90e48d19473fb578b3eb97c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47dbd97f591941c2b29214d4bbee63ee.html" target="element"> 001-001-&#33390; </a> </td>
											    <td> <a href="../elements/id-47dbd97f591941c2b29214d4bbee63ee.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2ff01ca4db74ee48cc8a1128b2cfcf2.html" target="element"> 001-010- &#39582; </a> </td>
											    <td> <a href="../elements/id-c2ff01ca4db74ee48cc8a1128b2cfcf2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f9eba6e7b47439fa364e50e68482d22.html" target="element"> 001-011-&#28176; </a> </td>
											    <td> <a href="../elements/id-5f9eba6e7b47439fa364e50e68482d22.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-223cbdade3684f26a6d26f1dc8ce6e1a.html" target="element"> 001-100-&#23567;&#36807; </a> </td>
											    <td> <a href="../elements/id-223cbdade3684f26a6d26f1dc8ce6e1a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70f7558ae1954658a2801c36bbf77121.html" target="element"> 001-101-&#26053; </a> </td>
											    <td> <a href="../elements/id-70f7558ae1954658a2801c36bbf77121.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfc74194a40458dad38caf614c08bf0.html" target="element"> 001-110-&#21688; </a> </td>
											    <td> <a href="../elements/id-3bfc74194a40458dad38caf614c08bf0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6f1aa5b5be94276945a9909b646f2ea.html" target="element"> 001-111-&#36929; </a> </td>
											    <td> <a href="../elements/id-b6f1aa5b5be94276945a9909b646f2ea.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-abbb9de672f04ceb86c908ee644722dd.html" target="element"> 010-000-&#24072; </a> </td>
											    <td> <a href="../elements/id-abbb9de672f04ceb86c908ee644722dd.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2363c46aeb3495ca9c0e09973355dbd.html" target="element"> 010-001-&#33945; </a> </td>
											    <td> <a href="../elements/id-a2363c46aeb3495ca9c0e09973355dbd.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bfc858f79e9a4dab875917d50d2d58a7.html" target="element"> 010-010-&#22350; </a> </td>
											    <td> <a href="../elements/id-bfc858f79e9a4dab875917d50d2d58a7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26152cda105a4e11af1a272ad9a0c269.html" target="element"> 010-011-&#28067; </a> </td>
											    <td> <a href="../elements/id-26152cda105a4e11af1a272ad9a0c269.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d212747822945728a7459d3ea372b3b.html" target="element"> 010-100-&#35299; </a> </td>
											    <td> <a href="../elements/id-7d212747822945728a7459d3ea372b3b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cc4c6db24ce4023bef2810ec63be7af.html" target="element"> 010-101-&#26410;&#27982; </a> </td>
											    <td> <a href="../elements/id-5cc4c6db24ce4023bef2810ec63be7af.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-941d73b5ae2b43908de4c99c38021303.html" target="element"> 010-110-&#22256; </a> </td>
											    <td> <a href="../elements/id-941d73b5ae2b43908de4c99c38021303.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32d8b34c2fb748f88412f3dc4d9a4b23.html" target="element"> 010-111-&#35772; </a> </td>
											    <td> <a href="../elements/id-32d8b34c2fb748f88412f3dc4d9a4b23.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0654d9cec324fdd856ed988c0f37f57.html" target="element"> 011-000-&#21319; </a> </td>
											    <td> <a href="../elements/id-f0654d9cec324fdd856ed988c0f37f57.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c08ee33ed6e44fa88589f5f9229737a0.html" target="element"> 011-001-&#34506; </a> </td>
											    <td> <a href="../elements/id-c08ee33ed6e44fa88589f5f9229737a0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7907ed9013444b6d9049b0d4fa77a4ff.html" target="element"> 011-010-&#20117; </a> </td>
											    <td> <a href="../elements/id-7907ed9013444b6d9049b0d4fa77a4ff.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c263a6f6f524c228bab09f8b7b6369a.html" target="element"> 011-011-&#24061; </a> </td>
											    <td> <a href="../elements/id-9c263a6f6f524c228bab09f8b7b6369a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a227db11b54f441680f23cfb2950e118.html" target="element"> 011-100-&#24658; </a> </td>
											    <td> <a href="../elements/id-a227db11b54f441680f23cfb2950e118.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a23d5af66d1d4ffbb6fc8a5c7ec9f282.html" target="element"> 011-101-&#40718; </a> </td>
											    <td> <a href="../elements/id-a23d5af66d1d4ffbb6fc8a5c7ec9f282.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10f782ef4fe347d19a358a10e1f9e6ce.html" target="element"> 011-110-&#22823;&#36807; </a> </td>
											    <td> <a href="../elements/id-10f782ef4fe347d19a358a10e1f9e6ce.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18074554d77b4807b8eca6e396614fbb.html" target="element"> 011-111-&#23012; </a> </td>
											    <td> <a href="../elements/id-18074554d77b4807b8eca6e396614fbb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-964d0d0476fd449ba0b5602c18fba733.html" target="element"> 100-000-&#22797; </a> </td>
											    <td> <a href="../elements/id-964d0d0476fd449ba0b5602c18fba733.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bccddb2bc07b47aa8524fa07ec550531.html" target="element"> 100-001-&#39056; </a> </td>
											    <td> <a href="../elements/id-bccddb2bc07b47aa8524fa07ec550531.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b20778df1a92436eaf13e94e9c2f43f9.html" target="element"> 100-010-&#23663; </a> </td>
											    <td> <a href="../elements/id-b20778df1a92436eaf13e94e9c2f43f9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bda826d56c334ab68f1ecdfbfe1a6770.html" target="element"> 100-011-&#30410; </a> </td>
											    <td> <a href="../elements/id-bda826d56c334ab68f1ecdfbfe1a6770.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d06397e70aa4955840dc970950a3638.html" target="element"> 100-100-&#38663; </a> </td>
											    <td> <a href="../elements/id-7d06397e70aa4955840dc970950a3638.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cf03397b486462f91b4a51aa92945ec.html" target="element"> 100-101-&#22124;&#21969; </a> </td>
											    <td> <a href="../elements/id-3cf03397b486462f91b4a51aa92945ec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b473075735d4e01b7fb41c2e5090f27.html" target="element"> 100-110-&#38543; </a> </td>
											    <td> <a href="../elements/id-1b473075735d4e01b7fb41c2e5090f27.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-253bccafe3b94440a0d2141ad0f71ef7.html" target="element"> 100-111-&#26080;&#22916; </a> </td>
											    <td> <a href="../elements/id-253bccafe3b94440a0d2141ad0f71ef7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4719ee49411402f9d324a0f64e61637.html" target="element"> 101-000-&#26126;&#22839; </a> </td>
											    <td> <a href="../elements/id-d4719ee49411402f9d324a0f64e61637.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63dd72de846c497a9c98f915eb0faf15.html" target="element"> 101-001-&#36146; </a> </td>
											    <td> <a href="../elements/id-63dd72de846c497a9c98f915eb0faf15.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d16167b867054c62813712e2876c35ea.html" target="element"> 101-010-&#26082;&#27982; </a> </td>
											    <td> <a href="../elements/id-d16167b867054c62813712e2876c35ea.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13534901a889404b8b84c852fa36cc25.html" target="element"> 101-011-&#23478;&#20154; </a> </td>
											    <td> <a href="../elements/id-13534901a889404b8b84c852fa36cc25.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9593cd6222844a2a089d371c48c9b6d.html" target="element"> 101-100-&#20016; </a> </td>
											    <td> <a href="../elements/id-f9593cd6222844a2a089d371c48c9b6d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c49d75ffdc7407cbb7a73ed5d6b3fd3.html" target="element"> 101-101-&#31163; </a> </td>
											    <td> <a href="../elements/id-6c49d75ffdc7407cbb7a73ed5d6b3fd3.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad6a5820a0bb4c50a362d091e251edca.html" target="element"> 101-110-&#38761; </a> </td>
											    <td> <a href="../elements/id-ad6a5820a0bb4c50a362d091e251edca.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-561d56c5e9f5489082ad21698d44eda8.html" target="element"> 101-111-&#21516;&#20154; </a> </td>
											    <td> <a href="../elements/id-561d56c5e9f5489082ad21698d44eda8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e85e3954ce13428b80d9077983657124.html" target="element"> 110-000-&#20020; </a> </td>
											    <td> <a href="../elements/id-e85e3954ce13428b80d9077983657124.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e4054db7df45a2ac219afe5f6e2a17.html" target="element"> 110-001-&#25439; </a> </td>
											    <td> <a href="../elements/id-70e4054db7df45a2ac219afe5f6e2a17.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35ce8afdd40f439d9012e31e4addfc5c.html" target="element"> 110-010-&#33410; </a> </td>
											    <td> <a href="../elements/id-35ce8afdd40f439d9012e31e4addfc5c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f84372b77814c268d95e373f4943669.html" target="element"> 110-011-&#20013;&#23386; </a> </td>
											    <td> <a href="../elements/id-0f84372b77814c268d95e373f4943669.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32d42d67299d4cbe94924bf1226bb223.html" target="element"> 110-100-&#24402;&#22969; </a> </td>
											    <td> <a href="../elements/id-32d42d67299d4cbe94924bf1226bb223.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14d29f040c1040b095844e587e515538.html" target="element"> 110-101-&#30589; </a> </td>
											    <td> <a href="../elements/id-14d29f040c1040b095844e587e515538.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5ac5e02ee4149519e598d54e3622313.html" target="element"> 110-110-&#20817; </a> </td>
											    <td> <a href="../elements/id-c5ac5e02ee4149519e598d54e3622313.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-037102c2a80947ea9e4bf0b2e719ba78.html" target="element"> 110-111-&#23653; </a> </td>
											    <td> <a href="../elements/id-037102c2a80947ea9e4bf0b2e719ba78.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3effadd9f72143518cfc5302e14268c2.html" target="element"> 111-000-&#27888; </a> </td>
											    <td> <a href="../elements/id-3effadd9f72143518cfc5302e14268c2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f582b7da992476babef76ccd3cd3075.html" target="element"> 111-001-&#22823;&#30044; </a> </td>
											    <td> <a href="../elements/id-8f582b7da992476babef76ccd3cd3075.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f11ca4767464a429cd725cfb2601335.html" target="element"> 111-010-&#38656; </a> </td>
											    <td> <a href="../elements/id-0f11ca4767464a429cd725cfb2601335.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7c3f14e08d54668beb87c9164c2073e.html" target="element"> 111-011-&#23567;&#30044; </a> </td>
											    <td> <a href="../elements/id-e7c3f14e08d54668beb87c9164c2073e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83cd68eb6c3748b98c980ed0c8251000.html" target="element"> 111-100-&#22823;&#22766; </a> </td>
											    <td> <a href="../elements/id-83cd68eb6c3748b98c980ed0c8251000.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cd74ecd398c4a999e10c1098a454ad7.html" target="element"> 111-101-&#22823;&#26377; </a> </td>
											    <td> <a href="../elements/id-2cd74ecd398c4a999e10c1098a454ad7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d27b14a63e844538906a372861ecc76.html" target="element"> 111-110-&#22828; </a> </td>
											    <td> <a href="../elements/id-7d27b14a63e844538906a372861ecc76.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecdcfeb2e82f4484b8cff5cbb3fa40b2.html" target="element"> 111-111-&#20094; </a> </td>
											    <td> <a href="../elements/id-ecdcfeb2e82f4484b8cff5cbb3fa40b2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>