<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>易：太极-两仪-四象-八卦</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#26131;&#65306;&#22826;&#26497;-&#20004;&#20202;-&#22235;&#35937;-&#20843;&#21350;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c3c3df2dfe1e4910827b38f31fc590ad.png" alt="易：太极-两仪-四象-八卦" usemap="#id-c3c3df2dfe1e4910827b38f31fc590admap"/>
			   <map name="id-c3c3df2dfe1e4910827b38f31fc590admap">
				  		<area shape="rect" coords="250,56,370,111" href="../elements/id-b8a40776d871458b9100c975392d6a1a.html"  target="element">
				  		<area shape="rect" coords="10,221,130,276" href="../elements/id-9285797897d84c62a3647899e1965727.html"  target="element">
				  		<area shape="rect" coords="250,221,370,276" href="../elements/id-1a26db07b48c42fa9008be79171623a2.html"  target="element">
				  		<area shape="rect" coords="250,536,370,591" href="../elements/id-fcfdb92024b84e3dac51e8740bcd340a.html"  target="element">
				  		<area shape="rect" coords="862,224,982,279" href="../elements/id-879279d5d31445d795575588b020befb.html"  target="element">
				  		<area shape="rect" coords="862,536,982,591" href="../elements/id-6d48813b36354796ae6dc45eec1c8589.html"  target="element">
				  		<area shape="rect" coords="1114,536,1234,591" href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html"  target="element">
				  		<area shape="rect" coords="862,716,982,771" href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html"  target="element">
				  		<area shape="rect" coords="562,56,682,111" href="../elements/id-657a583d133146a5877cd396190dca28.html"  target="element">
				  		<area shape="rect" coords="250,380,370,435" href="../elements/id-52e27344cbee475ba051bd628a57d082.html"  target="element">
				  		<area shape="rect" coords="862,380,982,435" href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html"  target="element">
				  		<area shape="rect" coords="562,716,682,771" href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html"  target="element">
				  		<area shape="rect" coords="562,224,682,279" href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html"  target="element">
				  		<area shape="rect" coords="562,536,682,591" href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html"  target="element">
				  		<area shape="rect" coords="562,356,682,465" href="../elements/id-d6a34a3a1d074f909714dd16948ce264.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d6a34a3a1d074f909714dd16948ce264.html" target="element"> NULL - &#22826;&#26497; </a> </td>
											    <td> <a href="../elements/id-d6a34a3a1d074f909714dd16948ce264.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
											    <td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
											    <td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element"> 00 - &#32769;&#38452; - &#20908; </a> </td>
											    <td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element"> 01 - &#23569;&#38451; - &#26149; </a> </td>
											    <td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element"> 10 - &#23569;&#38452; - &#31179; </a> </td>
											    <td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element"> 11 - &#32769;&#38451; - &#22799; </a> </td>
											    <td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
											    <td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element"> 001 - &#23665;&#33390; </a> </td>
											    <td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d48813b36354796ae6dc45eec1c8589.html" target="element"> 010 - &#27700;&#22350; </a> </td>
											    <td> <a href="../elements/id-6d48813b36354796ae6dc45eec1c8589.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-879279d5d31445d795575588b020befb.html" target="element"> 011 - &#39118;&#24061; </a> </td>
											    <td> <a href="../elements/id-879279d5d31445d795575588b020befb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcfdb92024b84e3dac51e8740bcd340a.html" target="element"> 100 - &#38647;&#38663; </a> </td>
											    <td> <a href="../elements/id-fcfdb92024b84e3dac51e8740bcd340a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a26db07b48c42fa9008be79171623a2.html" target="element"> 101 - &#28779;&#31163; </a> </td>
											    <td> <a href="../elements/id-1a26db07b48c42fa9008be79171623a2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9285797897d84c62a3647899e1965727.html" target="element"> 110 - &#27901;&#20817; </a> </td>
											    <td> <a href="../elements/id-9285797897d84c62a3647899e1965727.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element"> 111 - &#22825;&#20094; </a> </td>
											    <td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cbec662f3f7e452bb1d6e150246a816d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbec662f3f7e452bb1d6e150246a816d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d6a34a3a1d074f909714dd16948ce264.html" target="element"> NULL - &#22826;&#26497; </a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83f65d8231f7427a8dd31095e220754e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83f65d8231f7427a8dd31095e220754e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d6a34a3a1d074f909714dd16948ce264.html" target="element"> NULL - &#22826;&#26497; </a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4e0644140394c778cc110fdaff0e08f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4e0644140394c778cc110fdaff0e08f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element"> 10 - &#23569;&#38452; - &#31179; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12a7eeb386f842939af306850c704c77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12a7eeb386f842939af306850c704c77.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element"> 01 - &#23569;&#38451; - &#26149; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b09678f823f74f5bb65b7584a98da7c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b09678f823f74f5bb65b7584a98da7c5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element"> 00 - &#32769;&#38452; - &#20908; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e32ccbaff24848f59c900a1709289391.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e32ccbaff24848f59c900a1709289391.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-282e6397c36d4eabada0c287fe3c85be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-282e6397c36d4eabada0c287fe3c85be.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-6d48813b36354796ae6dc45eec1c8589.html" target="element"> 010 - &#27700;&#22350; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-add53373f2424e0890806c1d3a8905d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-add53373f2424e0890806c1d3a8905d5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-fcfdb92024b84e3dac51e8740bcd340a.html" target="element"> 100 - &#38647;&#38663; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc0ad720c2ed4ea38b9d9b397fb1d133.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc0ad720c2ed4ea38b9d9b397fb1d133.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-9285797897d84c62a3647899e1965727.html" target="element"> 110 - &#27901;&#20817; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e054a723618411c9fa9087b48e7c6f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e054a723618411c9fa9087b48e7c6f2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b879b645af9e4e7fa6d075675bf5003b.html" target="element"> 0 - &#38452; </a> </td>
																		<td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element"> 00 - &#32769;&#38452; - &#20908; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-79dd2ea5761e4e078c4c9acae2ac4bbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79dd2ea5761e4e078c4c9acae2ac4bbd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element"> 01 - &#23569;&#38451; - &#26149; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29720df5d3f24dec818178f52a94adf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29720df5d3f24dec818178f52a94adf9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element"> 10 - &#23569;&#38452; - &#31179; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4391f724bdff4e178e389316ff704022.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4391f724bdff4e178e389316ff704022.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element"> 11 - &#32769;&#38451; - &#22799; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75fe9b3b74b44302b6fefc8755cd3190.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75fe9b3b74b44302b6fefc8755cd3190.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-1a26db07b48c42fa9008be79171623a2.html" target="element"> 101 - &#28779;&#31163; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cac71ea2d545492e98a767647f039513.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac71ea2d545492e98a767647f039513.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element"> 111 - &#22825;&#20094; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c27274b8f961434587250f150cc7f4a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c27274b8f961434587250f150cc7f4a8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element"> 001 - &#23665;&#33390; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d4130e057f440178262ec546d70f907.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d4130e057f440178262ec546d70f907.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-879279d5d31445d795575588b020befb.html" target="element"> 011 - &#39118;&#24061; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea3b9dbac68440db9117c7a581af1e2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea3b9dbac68440db9117c7a581af1e2e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-124a2ac2c6b641759b674f1e39b4fc1b.html" target="element"> 1 - &#38451; </a> </td>
																		<td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element"> 11 - &#32769;&#38451; - &#22799; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00ba708e1dff48b1893223f1a73153bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00ba708e1dff48b1893223f1a73153bc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element"> 00 - &#32769;&#38452; - &#20908; </a> </td>
																		<td> <a href="../elements/id-2c0b9a583a3f4d7ca1a2ca3edcd8ff72.html" target="element"> 000 - &#22320;&#22372; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-783686048bf841b2b8740c90ce836e5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-783686048bf841b2b8740c90ce836e5a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd74d8166fc5460790acfac5fb8066c7.html" target="element"> 00 - &#32769;&#38452; - &#20908; </a> </td>
																		<td> <a href="../elements/id-f3d3af18985e40d0a85b0dc2e9dc9206.html" target="element"> 001 - &#23665;&#33390; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e595970dc784e86add225d7dec8bd4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e595970dc784e86add225d7dec8bd4f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element"> 01 - &#23569;&#38451; - &#26149; </a> </td>
																		<td> <a href="../elements/id-6d48813b36354796ae6dc45eec1c8589.html" target="element"> 010 - &#27700;&#22350; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9ba3572ddab4f44bf9dabd9c93cd899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9ba3572ddab4f44bf9dabd9c93cd899.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad8c544c5544c46a511d9ad0198ab2d.html" target="element"> 01 - &#23569;&#38451; - &#26149; </a> </td>
																		<td> <a href="../elements/id-879279d5d31445d795575588b020befb.html" target="element"> 011 - &#39118;&#24061; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-598387c0aa1f4d80b26228d4e750f50f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-598387c0aa1f4d80b26228d4e750f50f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element"> 10 - &#23569;&#38452; - &#31179; </a> </td>
																		<td> <a href="../elements/id-fcfdb92024b84e3dac51e8740bcd340a.html" target="element"> 100 - &#38647;&#38663; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56035cee56fa4072a7fa95e90a37c698.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56035cee56fa4072a7fa95e90a37c698.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52e27344cbee475ba051bd628a57d082.html" target="element"> 10 - &#23569;&#38452; - &#31179; </a> </td>
																		<td> <a href="../elements/id-1a26db07b48c42fa9008be79171623a2.html" target="element"> 101 - &#28779;&#31163; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b294e5c1ce3d43c9a19c3ca03e48e4f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b294e5c1ce3d43c9a19c3ca03e48e4f3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element"> 11 - &#32769;&#38451; - &#22799; </a> </td>
																		<td> <a href="../elements/id-b8a40776d871458b9100c975392d6a1a.html" target="element"> 111 - &#22825;&#20094; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cab002d71d24a55b5bd07944a62cc70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cab002d71d24a55b5bd07944a62cc70.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-657a583d133146a5877cd396190dca28.html" target="element"> 11 - &#32769;&#38451; - &#22799; </a> </td>
																		<td> <a href="../elements/id-9285797897d84c62a3647899e1965727.html" target="element"> 110 - &#27901;&#20817; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>